# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

* @axelarnetwork/chainops
./cosmwasm @axelarnetwork/core
./evm @axelarnetwork/contracts
./sui @axelarnetwork/contracts
./stellar @axelarnetwork/contracts
