# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

* @axelarnetwork/chainintegrations
./cosmwasm/* @axelarnetwork/protocol
./evm/* @axelarnetwork/protocol
./sui/* @axelarnetwork/protocol
./stellar/* @axelarnetwork/protocol
