{
    "extends": [
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint/eslint-plugin"],
    "rules": {
    "@typescript-eslint/no-unused-vars": "off",
    "curly": ["error", "all"]
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-require-imports": "off"
      }
    }
  ]
}
