{
    "extends": [
      "plugin:@typescript-eslint/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off"
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-require-imports": "off"
      }
    }
  ]
}
