[submodule "offchain/components/relayer/proto/googleapis"]
	path = offchain/components/relayer/proto/googleapis
	url = https://github.com/googleapis/googleapis
	branch = master
	shallow = true
[submodule "evm-contracts/lib/forge-std"]
	path = evm-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "evm-contracts/lib/axelar-gmp-sdk-solidity"]
	path = evm-contracts/lib/axelar-gmp-sdk-solidity
	url = https://github.com/axelarnetwork/axelar-gmp-sdk-solidity
[submodule "solana/axelar-amplifier"]
	path = solana/axelar-amplifier
	url = https://github.com/eigerco/axelar-amplifier.git
