[submodule "evm-contracts/lib/forge-std"]
	path = evm-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
    shallow = true
[submodule "evm-contracts/lib/axelar-gmp-sdk-solidity"]
	path = evm-contracts/lib/axelar-gmp-sdk-solidity
	url = https://github.com/axelarnetwork/axelar-gmp-sdk-solidity
    shallow = true
[submodule "evm-contracts/lib/interchain-token-service"]
	path = evm-contracts/lib/interchain-token-service
	url = https://github.com/axelarnetwork/interchain-token-service
    shallow = true
[submodule "evm-contracts/lib/axelar-gmp-sdk-solidity-its-compat"]
	path = evm-contracts/lib/axelar-gmp-sdk-solidity-its-compat
	url = https://github.com/axelarnetwork/axelar-gmp-sdk-solidity
    shallow = true
[submodule "evm-contracts/lib/axelar-cgp-solidity"]
	path = evm-contracts/lib/axelar-cgp-solidity
	url = https://github.com/axelarnetwork/axelar-cgp-solidity.git
    shallow = true
[submodule "evm-contracts/lib/openzeppelin-contracts"]
	path = evm-contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
    shallow = true
