########################@######
### Axelar Devnet Amplifier ###

NAMESPACE="devnet-amplifier";
ENV="devnet-amplifier";
CHAIN="solana";

# CosmWasm

ARTIFACT_PATH='solana/axelar-amplifier/artifacts/'
MNEMONIC="TBD"
INIT_ADDRESSES="TBD"
RUN_AS_ACCOUNT="TBD"
CONTRACT_ADMIN="TBD"
SALT="TBD"

VOTING_VERIFIER=$(cat "./axelar-chains-config/info/${ENV}.json" | jq ".axelar.contracts.VotingVerifier[\"$CHAIN\"].address" | tr -d '"')
GATEWAY=$(cat "./axelar-chains-config/info/${ENV}.json" | jq ".axelar.contracts.Gateway[\"$CHAIN\"].address" | tr -d '"')
MULTISIG_PROVER=$(cat "./axelar-chains-config/info/${ENV}.json" | jq ".axelar.contracts.SolanaMultisigProver[\"$CHAIN\"].address" | tr -d '"')
MULTISIG=$(cat "./axelar-chains-config/info/${ENV}.json" | jq ".axelar.contracts.Multisig.address" | tr -d '"')
REWARDS=$(cat "./axelar-chains-config/info/${ENV}.json" | jq ".axelar.contracts.Rewards.address" | tr -d '"')
ROUTER=$(cat "./axelar-chains-config/info/${ENV}.json" | jq ".axelar.contracts.Router.address" | tr -d '"')
SERVICE_REGISTRY=$(cat "./axelar-chains-config/info/${ENV}.json" | jq ".axelar.contracts.ServiceRegistry.address" | tr -d '"')

PROVER_ADMIN='axelar1zlr7e5qf3sz7yf890rkh9tcnu87234k6k7ytd9'
DEPOSIT_VALUE=100000000
REWARD_AMOUNT='1000000uamplifier'

WALLET="axelar1zlr7e5qf3sz7yf890rkh9tcnu87234k6k7ytd9"

# Solana

CLUSTER="devnet";

PRIVATE_KEY="/Path/to/your/.config/solana/upgrade-authority-$ENV.json";
UPGRADE_AUTHORITY_KEYPAIR_PATH=$PRIVATE_KEY;
OPERATOR_KEYPAIR_PATH="/Path/to/your/.config/solana/operator-$ENV.json";

BASE_IMAGE="solanafoundation/solana-verifiable-build@sha256:979b09eef544de4502a92e28a724a8498a08e2fe506e8905b642e613760403d3";

GATEWAY_PROGRAM_KEYPAIR_PATH="./axelar-amplifier-solana/TBD.json";
GATEWAY_PROGRAM_PATH="./axelar-amplifier-solana/target/deploy/axelar_solana_gateway.so";

GAS_SERVICE_PROGRAM_KEYPAIR_PATH="./axelar-amplifier-solana/TBD.json";
GAS_SERVICE_PROGRAM_PATH="./axelar-amplifier-solana/target/deploy/axelar_solana_gas_service.so";

GOVERNANCE_PROGRAM_KEYPAIR_PATH="./axelar-amplifier-solana/TBD.json";
GOVERNANCE_PROGRAM_PATH="./axelar-amplifier-solana/target/deploy/axelar_solana_governance.so";

MULTICALL_PROGRAM_KEYPAIR_PATH="./axelar-amplifier-solana/TBD.json";
MULTICALL_PROGRAM_PATH="./axelar-amplifier-solana/target/deploy/axelar_solana_multicall.so";

OPERATORS_PROGRAM_KEYPAIR_PATH="./axelar-amplifier-solana/TBD.json>"
OPERATORS_PROGRAM_PATH="./axelar-amplifier-solana/target/deploy/solana_axelar_operators.so"

MEMO_PROGRAM_KEYPAIR_PATH="./axelar-amplifier-solana/TBD.json";
MEMO_PROGRAM_PATH="./axelar-amplifier-solana/target/deploy/solana_axelar_memo_program.so";

ITS_PROGRAM_KEYPAIR_PATH="./axelar-amplifier-solana/TBD.json";
ITS_PROGRAM_PATH="./axelar-amplifier-solana/target/deploy/solana_axelar_its.so";

GATEWAY_PDA="TBD"
GAS_SERVICE_PDA="TBD"
GOVERNANCE_PDA="TBD"
MULTICALL_PDA="TBD"
OPERATORS_PROGRAM_PDA="TBD"
MEMO_PDA="TBD"
ITS_PDA="TBD"

UPGRADE_AUTHORITY_PDA="upa8CAJAvxU32TZfVT6mcHQawRLzx3N4c65GQjL8Vfx"
OPERATOR_PDA="gopEFNgirbVNK29RA5DK8mZTDhN2whzcbhCWXkVEc18"
